<!DOCTYPE html>
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load static %}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="polls/static/polls/images/django.gif" width="30" height="30" class="d-inline-block align-top" alt="">
        Tutorial</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'polls:index' %}">Polls <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
      </ul>
    </div>
</nav>

<body>
    <table border="1" class="table table-striped">
        <tr>
            <th>質問内容</th>
            <th>公開日</th>
            <th></th>
        </tr>
        {% for question in latest_question_list %}
        <tr>
            <td>{{ question.question_text }}</td>
            <td>{{ question.pub_date }}</td>
            {% if latest_question_list %}
            <td><a href="{% url 'polls:detail' question.pk %}">{{ question.question_text }}詳細画面へ</a></td>
        </tr>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
        {% endfor %}
    </table>
</body>