<!DOCTYPE html>
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load static %}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>
    <table border="1" class="table table-striped">
        <tr>
            <th>質問内容</th>
            <th>公開日</th>
            <th></th>
        </tr>
        {% for question in latest_question_list %}
        <tr>
            <td>{{ question.question_text }}</td>
            <td>{{ question.pub_date }}</td>
            {% if latest_question_list %}
            <td><a href="{% url 'polls:detail' question.pk %}">{{ question.question_text }}詳細画面へ</a></td>
        </tr>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
        {% endfor %}
    </table>
</body>